.modal {
  --modal-padding: 15px;

  position: relative;
  min-width: calc(320px - var(--modal-padding) * 2);
  max-height: 700px;
  padding: var(--modal-padding);
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}
.modal-close {
  position: absolute;
  top: -12px;
  right: -12px;
  padding: 4px;
  border-radius: 50%;
  border: 1px solid #000;
  line-height: 1;
  background: #fff;


  &>i:hover {
    color: #606060;
  }
}