@use "@styles/helpers" as *;

.modal {
  --modal-padding: #{rem(15)};

  position: relative;
  min-width: calc(#{rem(320)} - var(--modal-padding) * 2);
  max-height: rem(700);
  padding: var(--modal-padding);
  border-radius: rem(16);
  background-color: var(--color-white);
  box-shadow: 0 rem(10) rem(40) rgba(var(--color-black-rgb), 0.1);
}
.modal-close {
  position: absolute;
  top: - rem(12);
  right: - rem(12);
  padding: rem(4);
  border-radius: 50%;
  border: rem(1) solid var(--color-black);
  line-height: 1;
  background: var(--color-white);

  & > i {
    @include hover {
      color: #606060;
    }
  }
}
