@use "@styles/helpers" as *;

.trailer-modal {
  height: 100%;
  max-height: unset;

  &__overlay {
    & .modal-overlay__content {
      width: 100%;
      height: 100%;
      max-width: rem(700);
      max-height: rem(700);
    }
  }
}
