.starred-nav-icon {
  position: relative;

  &__count {
    position: absolute;
    right: -7px;
    top: 0;
    padding: 0.5rem 0.3rem;
    font-size: 0.65rem;
    font-weight: 600;
    color: #fff;
    background:  #e50914;
    border-radius: 50%;
    animation: blink 1s infinite;
  }
}

@keyframes blink {
  0%, 100% {
    background: #e50914;
  }
  50% {
    background: #ff4d4d;
  }
}