.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  min-height: 50px;
  color: #fff;
  background: rgba(0, 8, 81, 0.8);
  border: 1px solid transparent;
  border-radius: 0;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:10px;

  &__home-link i {
    font-size: 1.3rem;
    color: #e9ecef;
  }

  &__search-input {
    width: 200px;
    margin-left: auto;

    input {
      height: 25px;
      font-size: 0.8rem;
    }

    @media (max-width: 375px) {
      width: 150px;
    }
  }

  &__nav-block {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__starred-link {
    font-size: 1.2rem;
  }

  &__wtach-later-link {
    font-size: 0.8rem;
  }

  &__starred-link,
  &__wtach-later-link {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #ccc;
    }
  }
}
