@use "@styles/helpers" as *;

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background: rgba(var(--color-main-rgb), 0.8);
  border: rem(1) solid transparent;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(10);
  }

  &__home-link {
    i {
      font-size: rem(21);
      color: var(--color-white);
    }

    @include mobile-large {
      @include visually-hidden;
    }
  }

  &__search-input {
    width: rem(200);
    margin-left: auto;

    @include mobile-large {
      margin-left: unset;
    }

    input {
      height: rem(35);
      font-size: rem(15);
    }
  }

  &__nav-block {
    display: flex;
    align-items: center;
    gap: rem(10);
  }

  &__starred-link {
    font-size: rem(25);
  }

  &__wtach-later-link {
    font-size: rem(16);
  }

  &__starred-link,
  &__wtach-later-link {
    color: var(--color-white);
    text-decoration: none;

    @include hover {
      color: var(--color-grey);
    }
  }
}
