@use '@styles/helpers' as *;

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background: rgba(var(--color-main-rgb), 0.8);
  border: rem(1) solid transparent;

  &__inner {
    @include  flex-center;

    gap:rem(10);
  }

  &__home-link i {
    font-size: rem(21);
    color: var(--color-white);
  }

  &__search-input {
    width: rem(200);
    margin-left: auto;

    input {
      height: rem(25);
      font-size: rem(14);
    }

    @include mobile-large {
      width: rem(150);
    }
  }

  &__nav-block {
    display: flex;
    align-items: center;
    gap: rem(10);
  }

  &__starred-link {
    font-size: rem(19);
  }

  &__wtach-later-link {
    font-size: rem(16);
  }

  &__starred-link,
  &__wtach-later-link {
    color: var(--color-white);
    text-decoration: none;

    @include hover {
      color: var(--color-grey);
    }
    &:hover {

    }
  }
}
