@use "@styles/helpers" as *;

.full-size {
  width: 100%;
  height: 100%;
}

.movie {
  --title-line-height: 1.2em;
  --title-wrapper-padding: #{rem(8)};

  position: relative;
  overflow: hidden;
  border-radius: rem(9);
  cursor: pointer;
  transition: transform var(--transition-duration) ease;
  max-height: rem(350);

  @include tablet-small-above {
    @include hover {
      transform: scale(1.05);

      & .movie__overlay {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #c0c0c0;
  }

  &__title-wrapper {
    @include flex-center;

    position: absolute;
    bottom: 0;
    width: 100%;
    padding: var(--title-wrapper-padding);
    background: rgba(var(--color-black-rgb), 0.6);
    text-align: center;
    height: calc(
      var(--title-line-height) * 2 + var(--title-wrapper-padding) * 2
    );
  }

  &__title {
    @include fluid-text(16, 14);

    line-height: var(--title-line-height);
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__overlay {
    @include hide;

    text-align: center;
    position: absolute;
    background: rgba(20, 20, 20, 0.8);
    inset: 0;
    padding: rem(12);
    display: flex;
    flex-direction: column;
    gap: rem(10);
    transition: opacity var(--transition-duration) ease;
    cursor: default;
  }

  &__overlay-title {
    @include fluid-text(20, 18);
  }

  &__description {
    flex: 1;
    padding: rem(5);
    margin-bottom: rem(5);
    overflow: auto;
    font-size: rem(14);
    line-height: 1.1;
  }

  &__year {
    font-size: rem(14);
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: rem(10);

    button {
      font-size: unset;
      &.movie__btn-star {
        font-size: rem(25);
        padding: 0;
        border: none;
        background: none;
        color: var(--color-red);
        cursor: pointer;
        align-self: center;
      }

      &.movie__btn-watch-later {
        &.blue {
          color: var(--color-white);
          background: var(--color-blue);
          border-color: var(--color-blue);
        }
      }

      &.movie__btn-watch-later,
      &.movie__btn-view-trailer {
        @include hover {
          color: var(--color-white);
          background: var(--color-blue);
          border-color: var(--color-blue);
        }

        font-size: rem(14);
        width: 100%;

        & > i {
          font-size: rem(16);
        }
      }
    }
  }

  &__modal-close {
    display: none;
  }

  &.in-modal {
    @include hover {
      transform: unset;
    }

    @extend .full-size;

    max-height: unset;

    & .movie__overlay {
      @include show;

      padding-top: rem(30);
    }

    & .movie__modal-close {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      background: transparent;
      border: none;
      font-size: rem(30);
      color: var(--color-white);
      line-height: 1;
      padding: 0;
    }

    & .movie__description,
    & .movie__year,
    & .movie__btn-watch-later,
    & .movie__btn-view-trailer {
      font-size: rem(16);
    }
  }

  &__preview-overlay {
    .modal-overlay__content {
      @extend .full-size;
    }
    .modal-overlay__dimming {
      background-color: rgba(var(--color-black-rgb), 0.2);
    }
  }
}
