@import "bootstrap/scss/bootstrap.scss";
$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";
@import "bootstrap-icons/font/bootstrap-icons";

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
}


body,
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  color: #fff;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex-grow: 1;
}

#root {
  flex: 1;
  background: linear-gradient(0deg, #1cb5e0 20%, #050b45 100%) no-repeat;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0 !important;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

input,
textarea,
select,
button {
  font: inherit;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
label {
  cursor: pointer;
}

:root {
  --container-width: 100rem;
  --container-padding: 1rem;
}

@media (width <= 90.06125rem) {
  :root {
    --container-width: 80rem;
  }
}

html:has(.modal-overlay) {
  overflow: hidden;
}

.view-container {
  max-width: calc(var(--container-width) + var(--container-padding) * 2);
  margin-inline: auto;
  padding: var(--container-padding);
}
