@use "@styles/helpers" as *;

.modal-overlay {
  @include flex-center;

  position: fixed;
  inset: 0;
  padding: rem(36);
  z-index: 1;

  @include tablet {
    padding: rem(16);
  }

  &__dimming {
    position: absolute;
    inset: 0;
    background-color: rgba(var(--color-black-rgb), 0.6);
    z-index: -1;
  }
}
